#base{
  background-color: green;
  width:600px;
  height: 600px;
}

#esquerda{
  background-color: pink;
  width: 300px;
  height: 300px;
  float: left;
}

#direita{
  background-color: aqua;
  width: 300px;
  height: 300px;
  float: right;
}

/*float define onde o item ira ficar*/

p{
  color: #fff;
  text-align: center;
  font-size: 40px;
}